<p id="notice"><%= notice %></p>

<h3> Customers </h3>
<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Adress:</b>
  <%= @customer.adress %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<%= render "form" %>

