<h1>Listing customers</h1>

<table id="customers">
  <tr>
    <th>Name</th>
    <th>Adress</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.adress %></td>
    <td><%= customer.phone %></td>
    <td><%= customer.email %></td>
    <td><%= link_to 'Show', customer, :remote => true %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer), :remote => true %></td>
    <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>


</table>

<br />
<!--
<h2> Customer form</h2>
<div id="form"> <%= render "form" %> </div>

<%= link_to 'Back', customers_path %>
-->

<%= link_to 'New Customer', new_customer_path, :remote => true %>

<div id="customer_card">

</div>