<div class = "menu">
  <ul>
    <li><a href="#">Home    </a></li>
    <li><a href="#">Customer</a></li>
    <li><a href="#">Product </a></li>
    <li><a href="#">Supplier</a></li>
    <li><a href="#">Setup   </a></li>
  </ul>
</div>

<h5>Listing lessons</h5>
<div class="tablearea">
<table>
  <tr class='list_line_odd'>
    <th>Title</th>
    <th>Description</th>
    <th>Image url</th>
    <th>Level</th>
    <th>More1</th>
    <th>More2</th>
    <th>More3</th>
  </tr>

<% @lessons.each do |lesson| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= link_to lesson.title, lesson.description.to_s%></td>
    <td><%= lesson.description %></td>
    <td><%= image_tag(lesson.image_url) %></td>
    <td><%= lesson.level %></td>
    <td><%= link_to 'Show', lesson.description.to_s %></td>
    <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
    <td><%= image_tag('b-order.gif') %></td>
  </tr>
<% end %>
</table>

</div>


